force-app/main/default/flows/EduConsultantPro_Existing_Student_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Book_an_Appointment</name>
        <choiceText>Book an Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Book an Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_a_Case</name>
        <choiceText>Create a Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a Case</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Appointment_or_Case</name>
        <label>Appointment or Case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_May_I_Help_You</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Book_an_Appointment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Booking_Screen</targetReference>
            </connector>
            <label>Appointment</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_May_I_Help_You</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Book_an_Appointment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Student_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EduConsultantPro Existing Student Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EduConsultantPro Existing Student Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appointment</name>
        <label>Create Appointment</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment_DateTime__c</field>
            <value>
                <elementReference>AppointmentRecordRes.Appointment_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Consultant_Rec.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>AppointmentRecordRes.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurposeTopic__c</field>
            <value>
                <elementReference>AppointmentRecordRes.PurposeTopic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>Get_Rec.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Consultant_Rec</name>
        <label>Get Consultant Rec</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consultant_Rec.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consultant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rec</name>
        <label>Get Rec</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Student_Details_Element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Student_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Student_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Appointment_Booking_Screen</name>
        <label>Appointment Booking Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Consultant_Rec</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentRecordRes.Appointment_DateTime__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentRecordRes.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentRecordRes.Notes__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentRecordRes.Appointment_No__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentRecordRes.Student__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AppointmentRecordRes.PurposeTopic__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Appointment_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Consultant Name&amp;nbsp;: {!Get_Consultant_Rec.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Date &amp;amp; Time&amp;nbsp;:&amp;nbsp;{!AppointmentRecordRes.Appointment_DateTime__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Notes&amp;nbsp;: {!AppointmentRecordRes.Notes__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Student_Details_Element</name>
        <label>Display Student Details Element</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_How_May_I_Help_You</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Student_Info</name>
        <label>Get Existing Student Rec</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Rec</targetReference>
        </connector>
        <fields>
            <name>Enter_Student_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter Student Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Enter_Student_Email</name>
            <dataType>String</dataType>
            <fieldText>Enter Student Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choose between booking an appointment or creating a case.</description>
        <name>Select_How_May_I_Help_You</name>
        <label>Select How May I Help You</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Appointment_or_Case</targetReference>
        </connector>
        <fields>
            <name>How_May_I_Help_You</name>
            <choiceReferences>Book_an_Appointment</choiceReferences>
            <choiceReferences>Create_a_Case</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Book_an_Appointment</defaultSelectedChoiceReference>
            <fieldText>How May I Help You</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Student_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Student_Case</name>
        <label>Create Student Case</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>setup_service_experience__Create_Case</flowName>
    </subflows>
    <variables>
        <name>AppointmentRecordRes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
    <variables>
        <name>AppointmentRecordRes1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment__c</objectType>
    </variables>
</Flow>
